# =====================
# Python
# =====================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
.cache/
*.log

# Virtual environments
.venv/
venv/
ENV/
env/
pip-wheel-metadata/

# Jupyter Notebooks
.ipynb_checkpoints/

# Pytest
.pytest_cache/

# mypy, coverage, pylint, etc.
.mypy_cache/
.coverage
.tox/
htmlcov/
.dmypy.json
.pyre/

# Local settings
*.env
.env.*
*.local
secrets.json
config.json

# =====================
# Terraform
# =====================
# Local .terraform directory
.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
crash.log
terraform.tfvars
terraform.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Sensitive CLI credentials
.terraformrc
terraform.rc

# Plan outputs
*.tfplan

# =====================
# OS/System
# =====================
.DS_Store
Thumbs.db

# =====================
# Pycharm
# =====================
.idea/

anaconda_projects/